<!-- (c) Jonathan McGlone
https://github.com/jmcglone/jmcglone.github.io/blob/master/_includes/analytics.html 
Joel C. Zinn changed analytics ID to his own and website to his own Jan 2017
-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-90103498-1', 'joelczinn.com');
  ga('send', 'pageview');
</script>
